@font-face {
	font-family: 'Montserrat';
	src:url('../fonts/Montserrat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{ 
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif; 
    width: 100%; 
    height: 100%; 
    margin: 0;
     font-weight: 300;
	word-wrap: break-word; 
    background: #FFF;
    color: #555; 
}

header, footer{
    height: 100px;
    background-color: #ccc;
}

.container{
    display: flex;
    padding: 30px 60px 50px 60px;
    max-width: 1096px;
    margin: auto;
}

.aside{
    flex-basis: 20%;
    padding-right: 5%;
    min-width: 200px;
    max-width: 250px;
}

.content{
    flex-basis:75%;
}

/******** FILTERS **********/


.filters.filters-item{
    margin-bottom: 40px;
}

.filters.filters-item .filter-head{
    font-size: 1.2em;
    font-family: sans-serif; 
    width: 100%; 
    font-weight: 1000;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #000;
}

.filters.filters-item.filter-city select{
    background-color: transparent;
    border-color: #ccc;
    color: #555;
    font-size: 1em;
    padding: 10px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url('../images/icn_arrow_down.svg');
    background-position: 95% center;
    background-repeat: no-repeat;
}

.filter-category .category-lists .category-list-item{
    padding-bottom: 10px;
    font-size: 0.9em;
}

.filter-category .category-lists .category-list-item input[type=checkbox]{
    display:none;
}

.category-list-item .checkbox-custom,
.category-list-item .checkbox-custom.checked {
    position: relative;      
    width: 15px;             
    height: 15px;            
}

.category-list-item .checkbox-custom {           
    border: 1px solid #ccc;
}

.category-list-item .checkbox-custom.checked {           
    border: 1px solid #1cb8ff;
}

.category-list-item .checkbox-custom,
.category-list-item .label {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-custom.checked::before {
    content: "";             
    display: block;			 
    position: absolute;      
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background-image: url('../images/checked.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.range-widget-content{
    background: #555;
}

.range-horizontal{
    height: 0;
}

.range-slider-handle{
    width: 10px !important;
    height: 10px !important;
    border: 2px solid #1cb8ff !important;
    border-radius: 50%;
}

.range-slider.ui-widget-content {
	border: 2px solid #dddddd;
	background: #333333;
	color: #333333;
}

.range-horizontal .ui-slider-handle {
	top: -0.5em;
	margin-left: -.6em;
}

.range-slider .ui-widget-header{
    border: 2px solid #1cb8ff;
	background: #1cb8ff;
	color: #333333;
	font-weight: bold;
}

.range-horizontal .ui-slider-range {
    top: -2px;
}

.filter-price-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-price-column button{
    padding: 10px 20px;
    background: #1cb8ff;
    text-transform: uppercase;
    color: #fff;
    border: none;
    font-weight: 600;  
    border: 1px solid #1cb8ff;
}

.filter-price-column button:active{
    background: #fff;
    color: #1cb8ff;
    border: 1px solid #1cb8ff;
}

.filter-price-column button:focus{
    outline: none;
}

/******** END FILTERS **********/

/******** CARDS **********/

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards.card-item{
    flex-basis: 30%;
    cursor: pointer;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
    transition: box-shadow 0.3s ease-in-out 0s; 
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}

.cards.card-item:hover{
    box-shadow: 1px 1px 20px #ccc;
}

.cards.card-item .card-item-image{
    background-image: url('../images/pexels-photo-202169.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    position: relative;
}

.cards.card-item .card-item-image span{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 8%;
    font-size: 0.8em;
    font-weight: 1000;
}

.cards.card-item .card-item-body{
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.cards.card-item .card-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards.card-item .card-item-footer .card-item-footer-category{
    font-size: 0.8em;
}

/********* END CARDS **********/


/********* HELPERS CLASS **********/
.ml5{
    margin-left:5px;
}

.ml10{
    margin-left:10px;
}

.mr10{
    margin-right:10px;
}

.mb20{
    margin-bottom: 20px;
}

.text-flow{
    color: #aaa;
}

.text-bold{
    color: #000;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.1em;
    line-height: 20px;
}
/********* END HELPERS CLASS **********/

/********* RESPONSIVE *************/


@media only screen and (max-width: 992px){
    .cards.card-item{
        flex-basis: 45%;
    }
    
}

@media only screen and (max-width: 767px){
    .cards.card-item{
        flex-basis: 60%;
    }
}

@media only screen and (max-width: 479px){

}